<table>
<tr class='days'>
  <td>Monday</td>
  <td>Tuesday</td>
  <td>Wednesday</td>
  <td>Thursday</td>
  <td>Friday</td>
  <td>Saturday</td>
  <td>Sunday</td>
</tr>
</table>
   
<div id="calendar">
  <% days = 1 %>
  <% while days <= 7 %>
    <% hours = 1 %>

</div>
