<section id="edit-event">
<section id="create-event-form">

  <%= render 'form' %>
<div class="actions">
  <%= link_to 'Back', events_path %> |
  <%= link_to 'Delete', user_event_path(current_user, @event), method: :delete %>
</div>

</section>
</section>
