<!DOCTYPE html>

<html>
  <head>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1zE86HHNg61t-piIvl5BQw-hZeR5rBas">
    </script>
    <%= stylesheet_link_tag "event_widget.css" %>
    <%= stylesheet_link_tag "normalize.css" %>

    <title>I am ME</title>

    <script>
      $(document).ready(function(){

       $(".hidden").hide();

        $(".more").click(function(){
            $(".frame").toggleClass("active");
            $(".hidden").toggle();
            $(".title").toggle();
            $(".location").toggle();
            $(".me").toggle();
        });

        

        $(".map").click(function(){
          $(".container").css('background-image','url(https://thenypost.files.wordpress.com/2013/09/jayz.jpg');
        });
     });
      $(function() {
        $('.map').click(function () {

        $('.map').not(this).css('background-image', 'url(https://thenypost.files.wordpress.com/2013/09/jayz.jpg)').removeClass('map');

        if(!$(this).is('.map')){
          $(this).css('background-image', 'url(http://a.abcnews.com/images/Entertainment/GTY_jayz_jef_130710_16x9_608.jpg)').addClass('map');
        }
      });
      });
    </script>

    

    <script type="text/javascript">

     alert("jQuery is")

     $(document).ready(

       $.get( "http://localhost:3000/events/4", function( event ) {

        $( ".title, .title2" )
          .text( event.name )

        $(".description")
          .text( event.description )

        $(".location2")
          .text( event.location )

        }, "json" )

     );

   </script>

</head>

</html>
