<head>
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/event_widget.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script>
  // $(document).ready(function(){
  //
  //     $("h2").hide();
  //     $("img").hide();
  //
  //     $("h1").click(function(){
  //         $("h2").toggle();
  //         $("img").toggle();
  //     });
  // });
  </script>
</head>

<div>


  <section class='frame'>

    <div class="container">
      <h1>Rebecca Ferguson</h1>
      <h2>Jazz Cafe</h2>
      <img class='me' src="../public/images/ME.gif">
    </div>

  </section>


  <h1> Taylor Swift </h1>
  <h2> 1pm </h2>
  <h2>Taylor is playing some sick tuness, and it is going to be a sick part with loads of fun people and beers and stuff<h2>
  <h2><img src="../public/images/map.svg" alt="Map">My house</h2>
  <h2><img src="../images/Price_tag.svg" alt="Price"> £800</h2>
  <h2><img src="../images/share.svg" alt="Share">Share</h2>
  <h2><img src="../images/web_link.svg" alt="Web Link">Web Link</h2>
  <img src="../images/ME.gif" alt="ME">
  <img src="../images/more_info.svg" alt="More Info">
</div>