#clock {
  display: none; 
  position: fixed;
  top: 135px; 
  right: 50px; 
  width: 80px;
  z-index: 400;
  padding: 3px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: #dedede #bababa #aaa #bababa;
  border-radius: 10px;    
  background-color: #f6f6f6;
}