#create-event {
  width: 450px;
  height: 450px;
  position: fixed;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #333333;
}

#create-event h2 {
  color: white;
  background-color: #333333;
  width: 100%;
  margin: 0 0 2% 0;
  padding: 4%;
  padding-bottom: 2.5%;
  border-bottom: 1px solid black
}

#create-event div {
  padding: 2%;
  padding-left: 4%;
}

#create-event .calendar-label {
  margin-right: 5%;
}

#create-event .name-field {
  margin-left: 10%;
  width: 67%
}

#create-event .description-field {
  margin-left: 1.5%;
  width: 67%;
  height: 80px;
  font-size: 11px;
}

#create-event .location-field {
  margin-left: 6%;
  width: 67%
}

#create-event input[type="submit"] {
  display: inline;
  color: white ;
  background-color: #333333;
  border: 1px solid white;
  float: right;
  margin-right: 12%;
  font-size: 0.9em;
  padding: 1.5%;
  width: 25%;
  border: 1px solid #333333;
}

#create-event .back-button {
  display: inline;
  color: #9d855f ;
  background-color: white;
  border: 1px solid white;
  float: right;
  margin-right: 3%;
  font-size: 0.9em;
  padding: 1.5%;
  width: 25%;
  text-decoration: none;
  border: 1px solid #333333;
}
