#days-and-calendar {
  margin-top: 60px;
}

table {
  width: 100%;
  position: fixed;
  z-index: 9;
}

table .days {
  font-family: 'Montserrat', sans-serif;
  height: 30px;
  color: white;
  text-align: center;
  font-size: 10px;
  border: 1px solid black;
  background-color: #292929;
}

.days td { width: 205px }

section#calendar {
  position: absolute;
    top: 91px;
    left: 0;
  width: 100%;
  height: 4000px;
}

section .day {
  height: 100%;
  width: 14.285714286%;
  border-right: 1px solid #d4d4d4;
  float: left;
}

div.hours {
  height: 4.166667%;
  border-bottom: 1px solid #d4d4d4;
}

div.hours:hover {
  background-color: #E6E6E6
}
