.widget-large-page {
  position: relative;
  border: 1px solid black;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  margin: auto;
  background-size: 100% 50%;
  background-color: white;
  background-repeat: no-repeat;
  z-index: 8;
  font-family: 'Montserrat', sans-serif;

}

.widget-large-page .more {
  height: 4%;
  position: absolute;
  top: 3%;
  left: 3%;
  cursor: pointer; cursor: hand;
}

.widget-large-page .play {
  height: 4%;
  position: absolute;
  top: 9%;
  left: 3%;
  cursor: pointer; cursor: hand;
}

.widget-large-page .plus {
  height: 4%;
  position: absolute;
  top: 15%;
  left: 3%;
  cursor: pointer; cursor: hand;
}

.widget-large-page #name-and-location {
  font-family: Helvetica;
  color: black;
  float: left;
  margin-left: 4%;
  margin-top: 50%;
}

.widget-large-page h1.title {
  font-weight: bold;
  bottom: 38%;
  position: absolute;
  font-family: Helvetica;
  font-size: 1.5em;
  width: 100%;
  margin-left: 2%
}

.widget-large-page h2.location {
  bottom: 21%;
  position: absolute;
  font-family: Helvetica;
  font-size: 0.7em;
  font-weight: normal;
  width: 100%;
  margin-left: 12%;

}

.widget-large-page .description {
  display: block;
  width: 90%;
  position: absolute;
    bottom: 33%;
    left: 6%;
  padding: 0 0 4% 0;
  font-size: 0.6em;
  line-height: 1.8em;
  word-wrap: break-word;
  border-bottom: 1px dashed grey;
}

.widget-large-page p { 
  margin: 0;
  padding: 0;
}

.widget-large-page #bottom-section {
  margin-top: 100%;
  width: 10%;
}

.widget-large-page #map {
  width: 6.5%;
  position: absolute;
    bottom: 22%;
    left: 5.5%;
}

.widget-large-page #price {
  width: 7.5%;
  position: absolute;
    bottom: 12.5%;
    left: 4.5%;
}

.widget-large-page #share {
  width: 9%;
  position: absolute;
    bottom: 3.5%;
    left: 4%;
}

.widget-large-page #edit {
  width: 5%;
  position: absolute;
    bottom: 43%;
    right: 4%;
}

.widget-large-page .me {
  height: 17%;
  position: absolute;
    bottom: 3.5%;
    right: 5%;
}