.widget .thumbnail {
  position: relative;
  z-index: 3000;
  width: 100%;
  height: 160px;
  margin:auto;
  background: url('http://s3.amazonaws.com/rapgenius/filepicker%2FW7fmOwv6SO2kY4O2O5q5_Jay-z.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.widget .thumbnail .me {
  height: 30%;
  margin-right: -5%;
  margin-bottom: -2%;
  position: absolute;
    bottom: 0%;
    right: 0%;
}

.widget .thumbnail .more {
  height: 7%;
  margin-left: 3%;
  margin-top: 3%;
  position: absolute;
    top: 0%;
    left: 0%;
}

.widget .thumbnail .play {
  height: 7%;
  margin-left: 3%;
  margin-top: 12%;
  position: absolute;
    top: 0%;
    left: 0%;
}

.widget .thumbnail h1 {
  font-family: Helvetica;
  font-size: 0.9em;
  font-weight: bold;
  color: white;
  position: absolute;
    bottom: 10%;
    left: 5%;
}

.widget .thumbnail h2 {
  font-family: Helvetica;
  font-size: 0.7em;
  font-weight: 400;
  color: #A1A1A1;
  position: absolute;
    bottom: 0%;
    left: 5%;
}

.widget .thumbnail h3 {
  font-family: Helvetica;
  font-size: 0.7em;
  font-weight: 400;
  color: #A1A1A1;
  position: absolute;
    bottom: 0%;
    left: 5%;
}


.widget .thumbnail .title {
  font-family: Helvetica;
  font-size: 80%;
  font-weight: bold;
  margin: 0 0 3% 0;
}

.widget .thumbnail .location {

  font-family: Helvetica;
  font-size: 20%;
  font-weight: normal;
}

.widget .expanded {
  width:100%;
  margin-top: -2%;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}

.widget .expanded img{
  width:10%;
  float: left;
}

.widget .expanded .expanded-info
 {
  color: #424242;
}

.widget .expanded-info .me2 {
  width: 60%;
  float: right;
  margin-top: -5%;
  margin-right: -5%;
}

.widget .expanded .description {
  font-size: 8%;
  color: #424242;
  font-family: Helvetica;
  font-weight: normal;
}

.widget .expanded .title {
  font-size: 5%;
  font-family: Helvetica;
  font-weight: bold;
}


.widget .expanded-info
 {
  font-size:2%;
  font-family: Helvetica;
  font-weight: normal;
}

.widget .expanded hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: #424242;
  margin-left: auto;
  margin-right: auto;
  border-style: dotted;
  border-width: 1px;
  letter-spacing: 10px;
} 

