table .days {
  width: 14.285714286%;
  height: 30px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 0.8em;
  border: 1px solid black;
}

section#calendar {
  width: 100%;
  height: 4000px;
}

section .day {
  height: 100%;
  width: 14.285714286%;
  border-right: 1px solid #d4d4d4;
  float: left;
}

div.hours {
  height: 4.166667%;
  border-bottom: 1px solid #d4d4d4;
}